html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  background-color: black;
  display: flex;
}

.tile {
  width: 40px;
  height: 40px;
  background-color: red;
}

.tile:hover {
  background-color: blue;
}